<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">

    <!-- 아이디 중복체크 -->
    <select id="IdCheck" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM MEMBER WHERE MEMBER_ID=#{memberid}
    </select>

    <!-- 아이디 찾기 -->
    <select id="IdFind" parameterType="String" resultType="String">
        SELECT MEMBER_ID FROM MEMBER WHERE MEMBER_NAME=#{membername} AND MEMBER_EMAIL=#{memberemail}
    </select>

    <!-- 비밀번호 중복체크 -->
    <select id="PWCheck" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM MEMBER WHERE MEMBER_PW=#{memberpw}
    </select>

    <!-- 
    <delete id="deleteMember" parameterType="String">
        DELETE FROM MEMBER WHERE USERID=#{userid}
    </delete>

    <update id="updateMember" 
        parameterType="com.example.dto.Member">
        UPDATE MEMBER SET USERPW=#{userpw}, USERNAME=#{username}
        WHERE USERID=#{userid}
    </update>


    <insert id="insertMember" 
        parameterType="com.example.dto.Member">
        INSERT INTO MEMBER(USERID, USERPW, USERNAME)
        VALUES (#{userid}, #{userpw}, #{username})
    </insert> -->
</mapper>
 



